# Dependências e builds
node_modules/
# dist/   <-- REMOVIDO
build/
.vscode/
.DS_Store

# Arquivos de ambiente e segredos
.env
.env.local
.env.development.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Temporários e caches
*.log
*.tmp
*.swp
.cache/
out/
coverage/

# Render e outras plataformas
.render/
.netlify/
.vercel/node_modules/
dist/
backend/node_modules/
front-end/node_modules/
front-end/package-lock.json
