services:
  - type: web
    name: zlpix-backend
    env: node
    plan: free

    rootDir: backend

    buildCommand: |
      npm install
      npm run build

    startCommand: node dist/server.js

    envVars:
      - key: DATABASE_URL
        sync: false

      - key: JWT_SECRET
        sync: false

      - key: PORT
        value: 10000

      - key: MP_PUBLIC_KEY_TEST
        sync: false

      - key: MP_ACCESS_TOKEN_TEST
        sync: false

      - key: OPENAI_API_KEY
        sync: false

    autoDeploy: true
    branch: main