services:
  - type: web
    name: zlpix-backend
    env: node
    rootDir: backend
    plan: free

    buildCommand: |
      npm install
      npx prisma generate
      npm run build

    startCommand: node dist/server.js

    envVars:
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: PORT
        value: 10000
      - key: NODE_VERSION
        value: 18.20.2
      - key: MP_PUBLIC_KEY_TEST
        sync: false
      - key: MP_ACCESS_TOKEN_TEST
        sync: false

    autoDeploy: true
    branch: main